{% extends "base.html" %}
    
{% block content %}

  <section> <!-- manual padding -->
    <p>
      
      





    </p>
  </section>


  <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>A road trip, in its most primitive definition, is a long journey undertaken
          on the road. It is the epitome of the 90's family vacation, but a lot has
          changed since then. Technological advances, construction headway, and
          development progress have all played a role in changing our society and
          thereby altering much of our old conduct of various activities. Gone are the
          days of flipping through maps and printing out directions, yet the
          sentimentality and metamorphosis associated with road-trips have not changed.
          Nowadays, planning a road-trip incorporates much of the tech aspects that are
          supposed to bring ease and simplicity to a once chaotic task, however these
          applications normally have to be used separately. With this site, users will
          be able to access all relevant information in relation to their interests in
          each component. We hope to widen the breadth of their knowledge regarding the
          sites they plan to visit by including additional facts and invaluable reviews.
          Our team consists of travel aficionados who are rather well versed in the art
          of road-tripping. Thus, this project is the culmination of our experiences -
          understanding some of the problems that can arise when planning and
          incorporating our own solutions to such problems.</p>
        </header>

        <h4 align="center">Are We There Yet? Team</h4>
        <div class="row about-cols counters">

          <div class="col-sm-3 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="static/img/headshot-jon.png" alt="" class="rounded mx-auto d-block" style="max-width:200px">
              </div>
              <h2 class="title"> Jonathan Brewer</h2>
              <p>Jon is a computer science student at UT.</p>
              <p>Major responsibilities: Full Stack</p>
              <p>Commits: <span data-toggle="counter-up">{{ commits['jonbrew'] }}</span></p>
              <p>Issues: <span data-toggle="counter-up">{{ issues['jonbrew'] if issues['jonbrew'] else 0 }}</span></p>
              <p>Unit tests: 0</p>
            </div>
          </div>

          <div class="col-sm-3 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="static/img/headshot-matt.png" alt="" class="rounded mx-auto d-block" style="max-width:200px">
              </div>
              <h2 class="title"> Matthew Savignano</h2>
              <p>Matt is a computer science student at UT.</p>
              <p>Major responsibilities: Full Stack</p>
              <p>Commits: <span data-toggle="counter-up">{{ commits['savi975'] }}</span></p>
              <p>Issues: <span data-toggle="counter-up">{{ issues['savi975'] if issues['savi975'] else 0 }}</span></p>
              <p>Unit tests: 0</p>
            </div>
          </div>

          <div class="col-sm-3 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="static/img/headshot-jose.png" alt="" class="rounded mx-auto d-block" style="max-width:200px">
              </div>
              <h2 class="title"> Jose Magana</h2>
              <p>Jose is a computer science student at UT.</p>
              <p>Major responsibilities: Full Stack</p>
              <p>Commits: <span data-toggle="counter-up">{{ commits['Magana'] }}</span></p>
              <p>Issues: <span data-toggle="counter-up">{{ issues['Magana'] if issues['Magana'] else 0 }}</span></p>
              <p>Unit tests: 0</p>
            </div>
          </div>
          
          <div class="col-sm-3 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="static/img/headshot-yvonne.jpg" alt="" class="rounded mx-auto d-block" style="max-width:200px">
              </div>
              <h2 class="title"> Yvonne Huang</h2>
              <p>Yvonne is a computer science student at UT.</p>
              <p>Major responsibilities: Full Stack</p>
              <p>Commits: <span data-toggle="counter-up">{{ commits['huangyvonnee'] }}</span></p>
              <p>Issues: <span data-toggle="counter-up">{{ issues['huangyvonnee'] if issues['huangyvonnee'] else 0 }}</span></p>
              <p>Unit tests: 0</p>
            </div>
          </div>
          <!--
          <div class="col-sm-3 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="static/img/headshot-blank.png" alt="" class="rounded mx-auto d-block" style="max-width:200px">
              </div>
              <h2 class="title"> Nikhil Pandeti</h2>
              <p>Nikhil is (maybe) a computer science student at UT</p>
              <p>Major responsibilities: Project Leader</p>
              <p>Commits: 0</p>
              <p>Issues: 0</p>
              <p>Unit tests: 0</p>
            </div>
          </div>-->

        </div>

      </div>
  </section><!-- #about -->

<section id="facts"  class="wow">
      <div class="container">

        <header class="section-header">
          <h3>Stats</h3>
        </header>

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">{{ commits.values() | sum }}</span>
            <p>Total Commits</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">{{ issues.values() | sum }}</span>
            <p>Total Issues</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>Total Tests</p>
          </div>

        </div>

        <div class="facts-img">
          <img src="../static/img/facts-img.png" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->
    
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <section id="contact" class="section-bg wow">
      <div class="container">

        <div class="section-header">
          <h3>Features</h3>
        </div>

        <div class="row contact-info">

          <div class="col-lg-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Data</h3>
              <p><a href="https://developers.google.com/maps/documentation/">Google Maps</a></p>
              <p class="small">Used to get location data</p>
              <p><a href="https://www.nps.gov/subjects/digital/nps-data-api.htm">National Parks Service</a></p>
              <p class="small">Used for getting information regarding National Parks</p>
              <p><a href="https://www.yelp.com/developers/documentation/v3">Yelp</a></p>
              <p class="small">Pulled data to get reviews and restaurant information</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div>
              <i class="ion-wrench"></i>
              <h3>Tools</h3>
              <p class="small">Amazon Web Services: hosts our site</p>
              <p class="small">Bootstrap: our CSS framework</p>
              <p class="small">Flask: our Web framework</p>
              <p class="small">Github: used to collaborate during coding</p>
              <p class="small">Namecheap: provides our custom domain name</p>
              <p class="small">Postman: used to design our API documentation</p>
              <p class="small">Slack: used to communicate within our team</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="contact-email">
              <i class="ion-social-github-outline"></i>
              <h3>Links</h3>
              <p><a href="https://www.gitbook.com/book/huangyvonnee/roadtripr/">Gitbook</a></p>
              <p><a href="https://github.com/Magana/roadtripr/">Github Repo</a></p>  
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

{% endblock %}