{% extends "base.html" %}
    
{% block content %}
<!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Cities</h3>
        </header>

        <div class="row about-cols" align="center">

          <div class="col-md-6 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Austin_Evening.jpg/1200px-Austin_Evening.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">Austin</h2>
                <p>Population: 947,890</p>
                <p><a href="https://austintexas.org">Website</a></p>
                <p>Weather: 62 and overcast </p>
                <hr>
                <p>Nearby restaurants</p>
                    <p class="small"><a href="/fricanos">Fricano's Deli</a></p>
                <hr>    
                <p>Nearby parks</p>
                    <p class="small"><a href="/bigbend">Big Bend National Park</a></p>
                    <p class="small"><a href="/fortdavis">Fort Davis</a></p>
                    
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

{% endblock %}