{% extends "base.html" %}
    
{% block content %}
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Parks</h3>
        </header>

        <div class="row about-cols" align="center">

          <div class="col-md-6 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="https://farm8.staticflickr.com/7085/7215860942_8a44e3ab8f_b.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">Big Bend</h2>
                <p><a href=" https://www.nps.gov/bibe/index.htm">Website</a></p>
                <p>Weather: 76 and Sunny </p>
                <hr>
                <p>Nearby Restaurants</p>
                    <p class="small"><a href="/delideluxe">Deli Deluxe</a></p>
                    <p class="small"><a href="/schilos">Schilo's Delicatessen</a></p>
                <hr>   
                <p>Nearby Cities</p>
                    <p class="small"><a href="/houston">Houston</a></p>
                    <p class="small"><a href="/austin">Austin</a></p>
                    <p class="small"><a href="/sanantonio">San Antonio</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

{% endblock %}