{% extends "base.html" %}
    
{% block content %}
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Cities</h3>
        </header>

        <div class="row about-cols" align="center">

          <div class="col-md-6 wow" align="center">
            <div class="about-col">
              <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Houston_night.jpg" alt="" class="img-fluid">
              </div>
              <h2 class="title">Houston</h2>
                <p>Population: 2,303,000</p>
                <p><a href="https://www.visithoustontexas.com">Website</a></p>
                <p>Weather: 61 and overcast </p>
                <hr>
                <p>Nearby restaurants</p>
                    <p class="small"><a href="/delideluxe">Deli Deluxe</a></p> 
                <hr>
                <p>Nearby parks</p>
                    <p class="small"><a href="/fortdavis">Fort Davis</a></p>
                    <p class="small"><a href="/samissions">San Antonio Missions</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

{% endblock %}