certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.12.2
github3.py==1.0.0a4
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
node==0.9.22
odict==1.6.2
optional-django==0.3.0
plumber==1.5
requests==2.18.4
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
Werkzeug==0.14.1
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.4.3
zope.lifecycleevent==4.2.0
