{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem">

<h3>About RoadTripr</h3>
<p>A road trip, in its most primitive definition, is a long journey undertaken
  on the road. It is the epitome of the 90's family vacation, but a lot has
  changed since then. Technological advances, construction headway, and
  development progress have all played a role in changing our society and
  thereby altering much of our old conduct of various activities. Gone are the
  days of flipping through maps and printing out directions, yet the
  sentimentality and metamorphosis associated with road-trips have not changed.
  Nowadays, planning a road-trip incorporates much of the tech aspects that are
  supposed to bring ease and simplicity to a once chaotic task, however these
  applications normally have to be used separately. With this site, users will
  be able to access all relevant information in relation to their interests in
  each component. We hope to widen the breadth of their knowledge regarding the
  sites they plan to visit by including additional facts and invaluable reviews.
  Our team consists of travel aficionados who are rather well versed in the art
  of road-tripping. Thus, this project is the culmination of our experiences -
  understanding some of the problems that can arise when planning and
  incorporating our own solutions to such problems.</p>

<h3>Are We Done Yet? Team</h3>
<div style="display:inline-block" class="about-block">
  <img src="static/img/headshot-jon.png" style="max-width:200px">
  <p>Jon Brewer</p>
  <p>Jon is a computer science student at UT.</p>
  <p>Major responsibilities: Full Stack</p>
  <p>Commits: {{ commits['jonbrew'] }}</p>
  <p>Issues: {{ issues['jonbrew'] if issues['jonbrew'] else 0 }}</p>
  <p>Unit tests: 0</p>
</div>
<div style="display:inline-block" class="about-block">
  <img src="static/img/headshot-matt.png" style="max-width:200px">
  <p>Matt Savignano</p>
  <p>Matt is a computer science student at UT.</p>
  <p>Major responsibilities: Full Stack</p>
  <p>Commits: {{ commits['savi975'] }}</p>
  <p>Issues: {{ issues['savi975'] if issues['savi975'] else 0 }}</p>
  <p>Unit tests: 0</p>
</div>
<div style="display:inline-block" class="about-block">
  <img src="static/img/headshot-yvonne.jpg" style="max-width:200px">
  <p>Yvonne Huang</p>
  <p>Yvonne is a computer science student at UT.</p>
  <p>Major responsibilities: Full Stack</p>
  <p>Commits: {{ commits['huangyvonnee'] }}</p>
  <p>Issues: {{ issues['huangyvonnee'] if issues['huangyvonnee'] else 0 }}</p>
  <p>Unit tests: 0</p>
</div>
<div style="display:inline-block" class="about-block">
  <img src="static/img/headshot-jose.png" style="max-width:200px">
  <p>Jose Magana</p>
  <p>Jose is a computer science student at UT.</p>
  <p>Major responsibilities: Full Stack</p>
  <p>Commits: {{ commits['Magana'] }}</p>
  <p>Issues: {{ issues['Magana'] if issues['Magana'] else 0 }}</p>
  <p>Unit tests: 0</p>
</div>
<div style="display:inline-block" class="about-block">
    <img src="https://secure.gravatar.com/avatar/32a8f750f4eeb4c0a807ffdcc9bf9404?s=50&d=https%3A%2F%2Futexas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png" style="max-width:200px">
    <p>Nikhil Pandeti</p>
    <p>Nikhil is (maybe) a computer science student at UT, but not in SWE.</p>
    <p>Major responsibilities: none</p>
    <p>Commits: 0</p>
    <p>Issues: 0</p>
    <p>Unit tests: 0</p>
  </div>

<h3>Stats</h3>
<p>Total commits: {{ commits.values() | sum }}</p>
<p>Total issues: {{ issues.values() | sum }} </p>
<p>Total tests: 0 </p>

<h3>Data</h3>
<ul>
  <li><a href="https://developers.google.com/maps/documentation/">Google Maps</a></li>
  <li><a href="https://www.nps.gov/subjects/digital/nps-data-api.htm">National Parks Service</a></li>
  <li><a href="https://www.yelp.com/developers/documentation/v3">Yelp</a></li>
</ul>

<h3>Tools</h3>
<ul>
  <li>nothing special</li>
</ul>

</div>

{% endblock %}