{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem"></div>

    <div class="col-sm" style="padding: 10px; border:4px solid black">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Austin_Evening.jpg/1200px-Austin_Evening.jpg" style="max-width:200px">
        <p>Austin</p>
        <p>Population: 947,890</p>
        <p><a href="https://austintexas.org">Website</a></p>
        <p>Weather: 62 and overcast </p>
        <p>Nearby restaurants</p>
            <ul>
                <li><a href="/fricanos">Fricano's Deli</a></li>
            </ul>    
        <p>Nearby parks</p>
            <ul>
                <li><a href="/bigbend">Big Bend National Park</a></li>
                <li><a href="/fortdavis">Fort Davis</a></li>
            </ul>
    </div>

{% endblock %}