{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm" style="padding: 10px; border:4px solid black">
        <a href="/austin">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Austin_Evening.jpg/1200px-Austin_Evening.jpg" style="max-width:200px">
          <p>Austin</p>
        </a>
      </div>
      <div class="col-sm" style="padding: 10px; border:4px solid black">
        <a href="/sanantonio">
          <img src="https://www.cbre.us/-/media/cbre/countryunitedstates/corporate%20offices/texas-oklahoma/san-antonio/san-antonio-skyline_768x582.jpg?mh=0&w=768&mw=0&h=582&la=en&hash=2909B553A7CA676C75A10DA7C6386E5993013675" style="max-width:200px">
          <p>San Antonio</p>
          </a>
        </div>
      <div class="col-sm" style="padding: 10px; border:4px solid black">
        <a href="/houston">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Houston_Images.jpg/250px-Houston_Images.jpg" style="max-width:200px">
          <p>Houston</p>
          </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}