{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem"></div>

    <div class="col-sm" style="padding: 10px; border:4px solid black">
        <img src="https://farm8.staticflickr.com/7085/7215860942_8a44e3ab8f_b.jpg" style="max-width:200px">
        <p>Fort Davis</p>
        <p>Population: 1,493,000</p>
        <p><a href="www.visitsanantonio.com">Website</a></p>
        <p>Weather: 63 and overcast </p>
        <p>Nearby Restaurants</p>
            <ul>
                <li><a href="/delideluxe">Deli Deluxe</a></li>
                <li><a href="/schilos">Schilo's Delicatessen</a></li>
            </ul>    
        <p>Nearby Cities</p>
            <ul>
                <li><a href="/houston">Houston</a></li>
                <li><a href="/austin">Austin</a></li>
                <li><a href="/sanantonio">San Antonio</a></li>

            </ul>    
    </div>

{% endblock %}