{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem"></div>

    <div class="col-sm" style="padding: 10px; border:4px solid black">
        <img src="https://activerain-store.s3.amazonaws.com/image_store/uploads/agents/doriedillard/files/Fricanos.JPG" style="max-width:200px">
        <p>Fricano's Deli</p>
        <p>2405 Nueces St. <a href="/austin">Austin</a>, Texas 78705</p>
        <p><a href=" https://www.yelp.com/biz/fricanos-deli-austin-15?adjust_creative=NiPGboCsDJsDrHmTMuDppw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=NiPGboCsDJsDrHmTMuDppw">Website</a></p>
        <p>Nearby parks</p>
            <ul>
                <li><a href="/bigbend">Big Bend National Park</a></li>
                <li><a href="/fortdavis">Fort Davis</a></li>
            </ul>
    </div>

{% endblock %}