{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem"></div>

    <div class="col-sm" style="padding: 10px; border:4px solid black">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Austin_Evening.jpg/1200px-Austin_Evening.jpg" style="max-width:200px">
        <p>Houston</p>
        <p>Population: 2,303,000</p>
        <p><a href="www.visithoustontexas.com">Website</a></p>
        <p>Weather: 61 and overcast </p>
        <p>Nearby restaurants</p>
            <ul>
                <li><a href="/delideluxe">Deli Deluxe</a></li>
            </ul>    
        <p>Nearby parks</p>
            <ul>
                <li><a href="/fortdavis">Fort Davis</a></li>
                <li><a href="/samissions">San Antonio Missions</a></li>
            </ul>
    </div>

{% endblock %}