{% extends "base.html" %}
    
{% block content %}
<div style="padding-top:4rem"></div>

    <div class="col-sm" style="padding: 10px; border:4px solid black">
        <img src="http://whc.unesco.org/uploads/thumbs/site_1466_0004-750-0-20150610094423.jpg" style="max-width:200px">
        <p>San Antonio Missions</p>
        <p><a href=" https://www.nps.gov/saan/index.htm">Website</a></p>
        <p>Weather: 60 and Cloudy </p>
        <p>Nearby Restaurants</p>
            <ul>
                <li><a href="/fricanos">Fricano's Deli</a></li>
                <li><a href="/schilos">Schilo's Delicatessen</a></li>
            </ul>    
        <p>Nearby Cities</p>
            <ul>
                <li><a href="/houston">Houston</a></li>
                <li><a href="/austin">Austin</a></li>
                <li><a href="/sanantonio">San Antonio</a></li>
            </ul>    
    </div>
{% endblock %}